<h1>Call Time Chart</h1>
<div id="graph"></div>

<script>
Morris.Bar({
  element: 'graph',
  data: [
    <%= raw @data %>

  ],
  xkey: 'x',
  ykeys: ['y'],
  labels: ['Calls']
}).on('click', function(i, row){
  console.log(i, row);
});
</script>