<h1>Type of Call</h1>
<div id="graph"></div>

<script>
Morris.Donut({
  element: 'graph',
	  "data": [
	   <%= raw @data %>
		  ],
  formatter: function (x) { return x + "%"}
}).on('click', function(i, row){
  console.log(i, row);
});

</script>